
  <div class="container w-50 border shadow">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="loginform" (ngSubmit)="savelogin()">
             <div style="text-align: center;font-size: larger;" >
                <i class="bi bi-person-bounding-box"></i>
              </div>
              <h4 style="text-align: center;">User Login</h4>
             <hr>
                <div class="mb-3  mt-2">
                  <label for="id1" class="form-label">User Id</label>
                  <input type="email" class="form-control" id="id1" formControlName="email">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="id2" class="form-label">Password</label>
                  <input type="password" class="form-control" id="id2" formControlName="password">
                </div>
                <div class="text-bg-danger" *ngIf="isnew">Please register first</div>
      <!-- <div class="text-bg-success" *ngIf="!isnew">Login Successfull</div> -->
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                  <button class="btn btn-outline-success" type="submit">Login</button>
                  <button class="btn btn-outline-success" type="button" routerLink="/sign-up">SignUp</button>
                </div>

              </form>
            
        </div>
    </div>
</div>


